:root {
  --steppy-red: #c41e3a;
  --steppy-gold: #d4a574;
}

body {
  font-family: Lexend, sans-serif !important;
}

.navbar-brand img {
  height: 70px;
}

.navbar {
  background-color: white !important;
  border-bottom: 2px solid #f0f0f0;
  padding: 1rem 0;
}

.hero-section {
  background: linear-gradient(135deg, #fef5f1 0%, #fff 100%);
  padding: 80px 0;
  text-align: center;
}
#map-section {
  background: #fafafa;
  padding: 60px 0;
}

.btn_login,.btn_signup {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  transition: 0.3s;
  color: var(--steppy-red);
  border: 2px solid var(--steppy-red);
  text-decoration: none;
}


.btn_login:hover,
.btn_signup:hover {
  background: var(--steppy-red);
  color: #fff;
}

.btn-start {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  transition: 0.3s;
  background: var(--steppy-red)
}

#map-section {
  background: #fafafa;
  padding: 60px 0;
}

#map {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
